body
{
	background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F556124253986260668%2F&psig=AOvVaw3hdC6orqUkk7TpLpmNlamT&ust=1638613479303000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjnlYW1x_QCFQAAAAAdAAAAABAD');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}